img
{
	/* background-image: url('./img/blank-person.jpg'); */
    width: 100px;
	height: 100px;
	
}
footer p
{
	font-size: 15px;
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	/* background:#999; */
	text-align: right;
	color: rgb(12, 10, 10);
	font-size: 0.7em;
	line-height: 70px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {


	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
        /* float: right; */
        text-align: end;
	}
	
	td:before { 
		/* Now like a table header */
		/* position: absolute; */
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
        white-space: nowrap;
        float: left;
        text-align: justify;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Official"; }
	td:nth-of-type(2):before { content: "Photo"; }
	td:nth-of-type(3):before { content: "Office"; }
	td:nth-of-type(4):before { content: "Party"; }
	td:nth-of-type(5):before { content: "Website"; }
}